* {
    --back-color: #17191e;
    --main-font-color: #eee;
    --main-border: #8080ff;
    --small-font-color: #7a829a;
    --main-content-width: 1000px;
    --main-content-color: #282c34;
    --footer-height: 150px;
    --navigation-height: 80px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--main-content-color);
    line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1.5rem;
}

p,
ol,
ul {
    font-size: 1.1rem;
    margin: 2rem 0;
}
/* 选中颜色 */
p::selection,
code::selection,
.token-line span::selection {
    background-color: var(--main-border);
    color: var(--back-color);
}
ol li {
    margin-bottom: 0.5rem;
    list-style-position: inside;
}
ul li {
    margin-bottom: 0.5rem;
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--main-font-color);
}
blockquote {
    font-style: italic;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--back-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--small-font-color);
}
::-webkit-scrollbar-track {
    background-color: var(--main-content-color);
}

.icon-img {
    height: 32px;
}
main {
    margin: var(--navigation-height) auto 5rem;
    color: var(--main-font-color);
    height: 100%;
    /* max-width: var(--main-content-width); */
    min-height: calc(100vh - var(--footer-height) - var(--navigation-height));
}

.line-throughs {
    text-decoration: line-through;
}

/* navigation */
.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--main-font-color);
    background-color: var(--back-color);
    z-index: 10;
    opacity: 0.9;
}

.site-logo {
    display: flex;
    align-items: center;
}
.site-logo img {
    height: 30px;
    margin-right: 10px;
}
.site-logo span {
    font-size: 1.2rem;
}
.navigation svg {
    transform: scale(2);
    color: var(--main-font-color);
}
.navigation svg:hover {
    cursor: pointer;
    color: var(--main-border);
}
.navigation-main {
    height: var(--navigation-height);
    margin: 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-main a {
    color: var(--main-font-color);
}
.navigation-tab ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-tab a {
    padding: 10px;
    margin: 0 20px;
    border: 1px solid var(--back-color);
}
.navigation-tab a:hover {
    cursor: pointer;
    border-top: 1px solid var(--main-border);
    border-bottom: 1px solid var(--main-border);
    background-color: var(--main-content-color);
}

.navigation-menu-button {
    display: none;
}

/* main container */
.main-container {
    margin: 0 auto;
    padding: 0 3rem;
    width: 100%;
    max-width: var(--main-content-width);
}

/* main header */
.main-header {
    padding-top: 2rem;
    margin-bottom: 2rem;
}
.main-header h1 {
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 700;
}
.main-header p {
    color: var(--small-font-color);
}
.main-header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* wide-header */
.wide-header h1 {
    padding: 2rem 0;
}
.wide-header p {
    padding: 1rem 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.section-header a {
    font-size: 1rem;
    border-bottom: 1px solid var(--main-border);
}
.section-header a:hover {
    cursor: pointer;
    border: transparent;
    color: var(--main-border);
}
.section-header span {
    font-size: 2rem;
    color: var(--main-border);
}

/* article list item */
.article-list-item {
    margin: 40px 0;
    border-bottom: 1px solid #fff;
}
.article-list-item:last-child {
    border-bottom: 1px solid transparent;
}
.article-list-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.article-list-main a {
    text-decoration: none;
    color: var(--main-font-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 10px;
    border: 2px solid transparent;
}
.article-list-main a:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--main-border);
}
.article-list-main-date {
    font-size: 0.5rem;
    color: var(--small-font-color);
}

/* posts */
.post-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--small-font-color);
}
.post-modified svg {
    margin-right: 0.5rem;
}
section.post h1,
section.post h2,
section.post h3,
section.post h4,
section.post h5 {
    font-size: 150%;
    padding: 5px 0;
    margin: 1rem 0;
    border-bottom: 1px solid var(--main-border);
}
section.post a {
    font-weight: 700;
    border-bottom: 2px solid var(--main-border);
}
section.post a:hover {
    cursor: pointer;
    border: 0;
    color: var(--main-border);
}
section.post ul li::before {
    content: "\2B17";
    margin-right: 0.5rem;
    color: var(--main-border);
}
section.post p {
    overflow-x: auto;
}

/* footer */
.footer {
    text-align: center;
    width: 100%;
    padding: 3rem 0;
    background-color: var(--back-color);
    border-top: 2px solid var(--main-border);
}
.footer svg {
    color: var(--main-font-color);
    transform: scale(1.2);
    margin: 0 5px;
}
.footer-maker {
    display: block;
    color: var(--main-font-color);
    margin-bottom: 15px;
}
.footer-tools {
    display: block;
    color: var(--main-font-color);
}

/* code */
pre[class*="language-"] {
    font-size: 1.2rem;
    overflow-x: auto;
}

/* 404 */
.not-found {
    position: absolute;
    width: 50vw;
    height: 50vh;
    left: 50%;
    top: 50%;
    line-height: 50vh;
    font-size: 5rem;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scroll-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 5%;
    bottom: 25%;
    border-radius: 50%;
    border: 2px solid var(--main-border);
    background-color: var(--back-color);
    color: var(--main-border);
    cursor: pointer;
    animation: moveicon 1s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-to-top:hover {
    background-color: var(--main-border);
    color: var(--back-color);
    border: 2px solid transparent;
}
.scroll-to-top-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
    p,
    ol,
    ul,
    blockquote {
        font-size: 1rem;
        margin: 0 0 1.5rem;
    }

    /* navigation */
    /* hamburger menu */
    .navigation-menu-button {
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
    }
    .navigation-menu-button span {
        display: block;
        width: 2rem;
        height: 2px;
        background: #fff;
    }
    .navigation svg {
        transform: scale(1.6);
        color: var(--main-font-color);
    }
    .site-logo img {
        height: 30px;
        margin-right: 10px;
    }
    .site-logo span {
        font-size: 1.2rem;
    }
    .navigation-main {
        height: var(--navigation-height);
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation-main a {
        display: block;
        color: var(--main-font-color);
    }
    .navigation-tab {
        display: none;
    }
    .navigation-links {
        margin: 0 5px;
    }
    /* sidebar */
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 70%;
        background-color: var(--back-color);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
        z-index: 30;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .navigation-side ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .navigation-side li {
        margin-bottom: 2rem;
    }
    .navigation-side li a {
        font-size: 1.2rem;
    }

    main {
        min-height: calc(
            100vh - var(--footer-height) - var(--navigation-height)
        );
    }

    /* main header */
    .main-header h1 {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 700;
    }

    /* main container */
    .main-container {
        margin: 0 auto;
        padding: 0 2rem;
    }
    .article-list-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article-list-main a {
        text-decoration: underline;
    }
    pre[class*="language-"] {
        font-size: 1rem;
        overflow-x: auto;
    }
    /* posts */
    section.post h1,
    section.post h2,
    section.post h3,
    section.post h4,
    section.post h5 {
        font-size: 150%;
        padding: 5px 0;
        margin: 1rem 0;
        border-bottom: 1px solid var(--main-border);
    }
    article.post a {
        font-weight: 700;
        border-bottom: 2px solid var(--main-border);
    }
    article.post a:hover {
        cursor: pointer;
        border: 0;
        color: var(--main-border);
    }
    article.post ul li::before {
        content: "\2B17";
        margin-right: 0.5rem;
        color: var(--main-border);
    }
    .article-list-main-date {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

    .overlay {
        left: 0;
        top: 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 20;
    }
}

@keyframes moveicon {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
